.button-style {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #ed1c24 0%, #ef4444 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
  }
  .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
  }
  &:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }
  &:hover svg {
    transform: rotate(45deg);
  }
}
